/* August 13, 2014 - _/css/screen.css - Last edit added auto:height to content images */

/* http://meyerweb.com/eric/tools/css/reset/   v2.0 | 20110126  License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
margin: 0; padding: 0;  border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body { line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
table { border-collapse: collapse; border-spacing: 0;}
/* maintaining the right scrollbar */
html {overflow-y: scroll;}

/* ------------------------------------------------------
   Main Page Divisions
     ------------------------------------------------------*/

body {
    color: #fff;
    background: #004f8f url(../_images/elements/bg_body.png) repeat-x center top;
    
    font-size: 90%;
    font-family: Arial,Helvetica,sans-serif;
}

#wrapper {margin: 0 0 10px 0;}

#content-wrapper, header#page-header, #top-line {min-width: 670px;} /* Minimum width set for desktops. */

header#page-header {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto 0 auto;
}

#top-line {  /* This is just a stripe above the content */
    max-width: 960px;
    width: 90%;
    padding: 0 1.04166666% 0 1.04166666%; /* 10px/960px */
    margin: 5px auto 0 auto;
    background-color: #FFF;
    height:7px;
}

#content-wrapper {
    max-width: 960px;
    width: 90%;
    padding: 10px 1.04166666% 20px 1.04166666%; /* 10px/960px */
    margin: 0 auto 10px auto;
    background-color: #FFF;
    color: black;
    border-top: 5px solid #f58025;
    border-bottom: 5px solid #f58025;
}

nav#navcontainer {
    width: 19.7916666666%; /* 190px/960px; */
    float:left;
}

aside {
    width: 19.7916666666%; /* 190px/960px  */
    padding-left:  1.63%; 
    border-left: 1px dotted #f58025;
    float:right;
}

#content-area {
    padding: 0 0 0 0;
    margin: 0 0 0 21.875%;
    color: #333;
}

.with-aside {width: 55.55%; }
section {width: 100%;}
section header {width: 100%;}
section article {width: 100%;}

#front-main { /* Front page main content */
    float:left;
    width: 61%;
}

#front-sidebar { /* Front page sidebar */
    background-color: #e6dbbe;
    float:right;
    width: 32%;
    padding: 10px 2% 10px 2%;
    margin: 0 0 0 2%;
}

#front-news {
    float:left;
    width: 61%;
    margin-bottom:20px;
}

#full-news {
    float:left; 
    margin-top:-10px;
    padding-top:0;
}

#full-news div.news-item {
    min-height: 98px;
    border-bottom: 1px dashed #ddd;
    padding-bottom: 10px;
}

#full-news div.student-news-item {
    border-bottom: 1px dashed #ddd;
    padding-bottom: 10px;
}

#full-news div.seminar-news-item {
    border-bottom: 1px dashed #ddd;
    padding-bottom: 10px;
}

#extra-text {
    display: none;
}

div.news-item {
    clear:left;
}

div.student-news-item {
    clear:left;
}

div.seminar-news-item {
    clear:none;
}

div.seminar-news-item .news-featured-right {
    min-height: 150px;
}

header#front-student-news-header {
    clear:left;
    padding-top:10px;
    border-top: 1px solid #692917;
    margin-top: 10px;
}

#content-area div.news-featured-left {
    float:left;
    margin-right: 10px;
    margin-bottom: 15px;
}

footer {
    clear:both;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #00447c;
}

#hidden-text-link { /* image is in image section below */
    width:100%;
    border-top: 1px solid #692917;
    margin-top: -10px;
    padding-top: 0;
    text-align:right;
}

#unhidden-text-link {
    width:100%;
    border-bottom: 1px solid #692917;
    margin-top: -10px;
    margin-bottom:0;
    padding-bottom: 0;
    text-align:right;
}

/* Hide accessibility links. */
.skip {
    display:none;
}

/* ------------------------------------------------------
   Typography
     ------------------------------------------------------*/

/* -------------------- Headings --------------------*/

#content-area h1, #content-area h2, #content-area h3, #content-area h4, #content-area h5, #content-area h6,
aside h1, aside h2, aside h3, aside h4, aside h5, aside h6,
header #mobile-header h2, header #mobile-header h3 {
    font-weight: bold;
    font-family: Georgia, Times,'Times New Roman', serif;
    margin-bottom: 10px;
    color: #00447c;
}

header #mobile-header h2, header #mobile-header h3 {
    margin-top: 0px;
    margin-bottom: 10px;
    }

#content-area h2, #content-area h3, #content-area h4, #content-area h5, #content-area h6 {
    margin-top: 20px;
}

aside h2, aside h3, aside h4, aside h5, aside h6 {
    margin-top: 25px;
    }

#content-area #front-news h2 {
    margin-top: 10px;
}

#content-area h1, aside h1 {
    font-size: 145%;
    margin-top: 5px;
    line-height: 125%;
}

#full-news h1 {
    margin-top: 0;
    padding-top:0;
    }

#content-area h2, aside h2, header #mobile-header h2 {font-size: 130%;}
#content-area h3, aside h3, header #mobile-header h3 {font-size: 120%;}
#content-area h4, aside h4 {font-size: 110%;font-style: italic;}

#front-sidebar h2 {
    margin-top:10px;
    border-bottom: 1px solid #00447C;
}

#content-area h5, aside h5, #front-sidebar h3 {
    font-size: 110%;
    font-weight: normal;
    color: #692917;
}

#content-area .news-featured-right h3  {
    font-size: 110%;
    font-weight:normal;
    color: #692917;
    margin-bottom:5px;
    margin-top:15px;
}

#content-area h6, aside h6  {
    font-size: 105%;
    font-weight: normal;
    font-style: italic;
    color: #692917;
}

/* -------------------- Content --------------------*/

#content-area p {
    line-height: 160%;
    margin-bottom: 15px;
}

.faculty-directory p {
    min-height: 128px;
    margin-bottom:15px;
    padding-bottom:10px;
    border-bottom: 1px dotted #ccc;
    line-height: 140%;
}
    
#content-area .news-featured-right p  {
    margin-bottom:0;
    line-height: 135%;
    margin-bottom: 15px;
    margin-top: 0;
}

#front-sidebar p, #front-sidebar li {
    font-size:85%;
    line-height: 120%;
}

p.gray {
    color: #999;
    font-size: 70%;
    margin-bottom:0;
}

#full-news div.news-item p {
    margin:0;
}

footer p {
    line-height: 140%;
    font-size:80%;
    margin-bottom: 0;
    margin-left: 5px
}

footer p strong, footer p b {
    font-weight: bold;
}

footer img {
    float: left;
    margin: 0 10px 0 5px;
}

/* Below Side Navigation */
nav p, aside p.aside-contacts {
    font-size: 90%;
    line-height: 150%;
    margin: 20px 0 10px 5px;
}

nav p strong, aside p.aside-contacts strong, nav p b, aside p.aside-contacts b {
    font-weight: bold;
    font-size: 130%;
    color: #00447c;
}

nav p .underline, aside p.aside-contacts .underline {
    text-decoration:underline;
    letter-spacing: 1px;
    font-size: 110%;
    font-weight:bold;
}

#content-area hr, aside hr {
    height: 1px;
    color: #00447c;
    background-color: #00447c;
    margin: 15px 0 15px 0;
    border:0;
}

/* Aside */
aside p {
    font-size: 85%;
    line-height: 135%;
    margin: 8px 0 20px 0;
    color: #353535;
}

aside p strong, aside p b {
    font-weight: bold;
    font-style: italic;
}

p.aside-contacts {
    font-size: 90%;
    line-height: 150%;
    margin: 20px 0 10px 5px;
}

aside p.aside-contacts strong, aside p.aside-contacts b {
    font-weight: bold;
    font-size: 130%;
    color: #00447c;
}

aside p.aside-contacts .underline {
    text-decoration:underline;
    letter-spacing: 0.10em;
    font-size: 110%;
    font-weight:bold;
}

/* -------------------- Tables --------------------*/

#content-area table {
    margin: 10px 0 17px 0;
    border-collapse:collapse;
}

#content-area table, #content-area td, #content-area th {border: 1px solid #000;}

#content-area th {
    color: #fff;
    background-color: #666;
}

#content-area td, #content-area th {padding: 5px;}

/* -------------------- Blockquotes --------------------*/

#content-area blockquote {
    background-color: #e6dbbe;
    color: #692917;
    margin: 15px 35px 17px 35px;
    border-left: 4px solid #692917;
    padding: 10px;
    font-size: 150%;
    line-height: 120%;
    font-family: Georgia, serif;
    font-style: italic;
}

#content-area blockquote p {margin: 10px 0 0 10px;}

#content-area blockquote p.author {
    text-align:right;
    font-style: normal;
}

/* -------------------- Lists --------------------*/

#content-area ol {
    margin-left: 30px;
    line-height: 130%;
    margin-bottom: 10px;
    list-style-type: decimal;
}

#content-area ul {
    margin-left: 30px;
    line-height: 130%;
    margin-bottom: 10px;
    list-style-type: square;
}

#content-area li ul {list-style-type: circle;}
#content-area li li ul {list-style-type: disc;}
#content-area li ol {list-style-type: lower-alpha;}
#content-area li li ol {list-style-type: lower-roman;}

aside ol {
    font-size: 85%;
    margin-left: 10px;
    line-height: 130%;
    margin-bottom: 10px;
    list-style-type:none;
}

aside  ul {
    font-size: 85%;
    margin-left: 10px;
    line-height: 130%;
    margin-bottom: 10px;
    list-style-type:none;
}

aside ul li {padding-top:7px;}
aside ul li:first-child {padding-top:0}
aside ul li a {text-decoration:none}
aside ul li a:hover {text-decoration:underline}

#front-sidebar ul li {padding-top:6px;}
#front-sidebar ul li:first-child {padding-top:0}
#front-sidebar ul li a {text-decoration:none}
#front-sidebar ul li a:hover {text-decoration:underline}

aside  li ul {list-style-type: circle;margin-left:10px}
aside li li ul {list-style-type: disc;margin-left:10px}
aside  li ol {list-style-type: lower-alpha;margin-left:10px}
aside  li li ol {list-style-type: lower-roman;margin-left:10px}




/* -------------------- Less Common Markup --------------------*/

#content-area dl {margin: 10px 0 17px 0;}
#content-area dt {font-weight: bold;}
#content-area dd {margin: 5px 0 17px 15px; line-height: 140%; margin-bottom: 15px;}
#content-area strong, #content-area b {font-weight:bold;}
#content-area em, #content-area i {font-style: italic;}
#content-area sup {font-size: 75%;vertical-align: super;}
#content-area sub {font-size: 75%;vertical-align: sub;}
#content-area cite {font-style: italic;}
#content-area abbr {border-bottom: 1px dotted #692917;}
#content-area del {text-decoration: line-through;}
#content-area ins {color: #883F06;text-decoration: underline;}

#content-area pre {
    font-family: monospace;
    font-size: 100%;
    margin: 10px 0 10px 0;
}

#content-area code {
    background-color: #e6dbbe;
    font-family: monospace;
    font-size: 100%;
    white-space:pre;
    display: block;
    margin: 10px;
    padding: 5px;
    border-left: 4px solid #692917;
}

#content-area var {
    font-weight:bold;
    font-style:italic;
    font-family: "Times New Roman", Times, serif;
}

/* ------------------------------------------------------
   Images
     ------------------------------------------------------*/

#content-area img, aside img, nav img {max-width: 100%;
    height: auto;}

#content-area img.align-left {
    float: left;
    margin: 5px 10px 10px 0;
    max-width: 40%; /* Resize with window */
    height: auto;
}

#content-area img.align-right {
    float: right;
    margin: 5px 0 10px 10px;
    max-width: 40%; /* Resize with window */
    height: auto;
}

.news-featured-left img {
    margin: 3px 5px 0 0;
    /* These force IE8 to size these pics correctly. */
    max-width:88px;min-width:88px;max-height:88px;min-height:88px
}

.seminar-news-item .news-featured-left img {
    margin: 3px 5px 0 0;
    /* These force IE8 to size these pics correctly. */
    max-width:200px;min-width:88px;max-height:200px;min-height:88px;
    width:88px;
}

/* Header Images */
#UTA-logo {float:left;}
#COE-logo {float:right;}
#department-icon {clear:both;float:right;padding-top:10px;}
#logo {margin: 10px 0 10px 0;}

/* Aside Images */
aside img {max-width: 100%;
    height: auto;}

/* more link in main content area of front page */
#hidden-text-link img {margin-right: 20px;cursor: pointer;}
#unhidden-text-link img {cursor: pointer;padding:0;margin:0 20px -3px 0;}

/* banner image in content */
img.content-banner {padding-bottom:10px;}

/* ------------------------------------------------------
   Links
     ------------------------------------------------------*/

a {color: #00447c;text-decoration: underline;}
a:visited {color: #004F8F;text-decoration: underline;}
a:hover {color: #AF5108;cursor: pointer;}

.news-featured-right h3, .news-featured-right h3 a, .news-item h3 a:visited {
    color: #692917 !important;
    text-decoration: none !important;
}

.news-featured-right h5 a:hover {
    text-decoration: underline !important;
}

/* -------------------- Side Navigation --------------------*/

#navcontainer { padding-bottom: 10px; margin-bottom: 10px;}
#navcontainer ul {border-bottom: 1px dotted #f58025;    padding-bottom: 20px;   margin-bottom: 10px;    list-style-type: none;  font-size: 85%; line-height: 130%;}
#navcontainer li{ margin: 0 0 1px 0; }
#navcontainer ul a{ display: block; padding: 10px 0 10px 5.26315789473684%; color: #fff;    background-color: #00447c;  text-decoration: none;}
#navcontainer ul a:hover {  color: #000000; background-color: #f58025;  text-decoration: none;}
#navcontainer ul ul {   border-top: 1px solid #fff; border-bottom:0;    padding-bottom: 0;  margin-bottom: 0;   font-size: 100%;}
#navcontainer ul ul li { margin: 0 0 1px 0;  }
#navcontainer ul ul a { display: block; padding: 5px 2.63157894736842% 5px 12.26315789473684%;  width: 85.10526315789474%;  color: #fff;    background-color: #004F8F;  text-decoration: none;}
#navcontainer ul ul a:hover {   color: #000000; background-color: #f58025;  text-decoration: none;}
.submenu {display:none;}
.with-submenu:after {content: "  \00bb";font-size: 120%;}
.with-submenu-active:after {content: " \00ab";font-size: 120%;}

/* ------------------------------------------------------
   Media Queries
     ------------------------------------------------------*/

/* -------------------- Target Tablets Portrait --------------------*/

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)  {
    nav#navcontainer {
        width: 26.0416666%; /* 250px/960px; */
        float:left;
    }

    aside {
        display: none
    }

    #content-area {
        padding: 0 0 0 0;
        margin: 0 0 0 28.125%; /* 270px/960px; */
        color: #333;
    }

    .with-aside {
        width: 71.875%; /* 690px/960px */
    }
}

/* -------------------- Target SmartPhones --------------------*/

/* Hide Mobile Header unless mobile */
#mobile-header { display:none; }

/* @media only screen and (min-device-width : 320px) and (max-device-width : 480px) { */
@media only screen and (max-width: 767px) and (max-device-width : 1023px) {

/* Logo and images at top */
div#mobile-uta-logo {margin-top: 5px;text-align:center;}

.UTA-logo-m {max-width: 100%;}

#mobile-menu, #mobile-menu img {max-width: 100%;
    height: auto;}

p#department-name, p#department-name a, p#department-name a:visited {
    font-size: 150%;
    color:#00447C;
    font-weight: bold;
    font-family: Georgia, Times, 'Times New Roman', serif;
}

#top-line {display:none;}

table.ce-adjunct-faculty {width:100%;}
table.ce-adjunct-faculty td {padding:0;font-weight:normal;font-size:50%}

/* Get header and content to 90% with now padding, then turn the background to white for a nice clean margin. */
#content-wrapper {
    max-width: 10000px;
    min-width: 100px;
    width: 90%;
    padding: 0;
    margin: 0 auto 0 auto;
    background-color: #FFF;
    color: black;
    font-size: 120%;
    border:0;
}

header#page-header {
    max-width: 10000px;
    min-width: 100px;
    width: 90%;
    padding: 0;
    margin: 0 auto 0 auto;
    background-color: #FFF;
    color: black;
    font-size: 120%;
}

#front-main, #front-sidebar, #front-contacts {
    width: 100%;
    float: none;
    clear:both;
    margin: 0 auto 0 auto;
    padding-left:0;
    background-color: white;
}

/* Hide the regular top navigation, aside, the navigation menu, and banner stuff
   Get navigation container ready to fit mobile device with full width and no float
     Get content area and content area with aside ready to fit mobile device with full width and no float */
#desktop-header, header nav, aside, #menu-bottom-extra {display: none;}
nav#navcontainer { display:none; font-weight:bold; float: none; width: 100%; }
#content-area { color: #333;    clear:both; width: 100%; margin:0; padding:0;}
.with-aside {    clear:both; width: 100%; margin:0; padding:0;}
body { background-image: none; background-color:white;color:black; }
footer img {display:none}

/* Here are some items that are only on the front page */
#front-news { clear:both; width: 100%; float:none;}
div.news-item { clear:both; float:none;}
#content-area div.news-featured-left {float:left; margin-right: 10px; margin-bottom: 0;}

/* Display the mobile header */
    #mobile-header {width:100%; display: block; padding-top:5px;}
}

/* Areas that are only for printing */

.print-only {
    display: none;
}

/*Assciated Faculty Area in MSE */
#associated-faculty ul {
list-style-type: none;
font-size: 80%;
font-weight:bold;
margin-left:0;
padding-left:0;
}
#associated-faculty ul li {
dislpay:block;
float:left;
width: 90px;
height: 155px;
margin-right: 12px;
margin-left:0;
padding-right:0;
}
#associated-faculty h3 {
clear:left;
padding-bottom:20px;
}
table.borderless-table, table.borderless-table td {
border:0 !important;
}