<!DOCTYPE html>

<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta content="IE=10" http-equiv="X-UA-Compatible">
      <title>Integrated Sensing Circuits and Systems Laboratory</title>
      <meta content="Information of current and future students in the electrical engineering dapartment at The University of Texas at Arlington" name="description">
      <meta content="electrical, engineering, university, texas, arlington, department" name="keywords">
      <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
      <link href="/plugins/eee/screen.css" media="screen" rel="stylesheet">
      <link href="/plugins/eee/print.css" media="print" rel="stylesheet">
      <script async="" src="/plugins/eee/analytics.js.download"></script><script src="/plugins/eee/menu.js.download"></script>
      <link href="/plugins/eee/embbed.css" media="screen" rel="stylesheet">
      <link href="/plugins/eee/embedded.css" media="screen" rel="stylesheet">
      <script src="/plugins/eee/jquery-1.8.3.min.js.download" type="text/javascript"></script>
      <script src="/plugins/eee/jquery.cycle2.min.js.download"></script>
   </head>
   <body>
      <p class="skip"><a accesskey="C" href="http://www.uta.edu/ee/#content-area">Skip to content</a>. <a accesskey="N" href="http://www.uta.edu/ee/#nav">Skip to main navigation</a>.</p>
      <div id="wrapper">
         <header id="page-header">
            <a href="http://www.uta.edu/uta/index.php"><img alt="The University of Texas at Arlington" height="48" id="UTA-logo" src="/plugins/eee/uta.png" width="327"></a>
            <a href="http://www.uta.edu/engineering/index.php"><img alt="College of Engineering" height="48" id="COE-logo" src="/plugins/eee/college_of_engineering.png" width="311"></a>
            <div id="desktop-header" style="text-align: -webkit-center;">
               </img>
               <!-- <img alt="Bioengineering at UTA" height="73" id="department-icon" src="/plugins/eee/department_icon.png" width="100"> -->
               <a href="http://www.uta.edu/ee/index.php"><img alt="Department of Electrical Engineering" height="73" id="logo" src="/plugins/eee/stripp.jpg" width="678"></a>
            </div>
            <div id="mobile-header">
               <!-- It is important that some images have no size attributes for rendering on different screen sizes -->
               <div id="mobile-uta-logo"><a href="http://www.uta.edu/uta/index.php"><img alt="The University of Texas at Arlington" class="UTA-logo-m" src="/plugins/eee/mobile-header.png"></a><br><a href="http://www.uta.edu/ee/index.php"><img alt="Department of Bioengineering" class="UTA-logo-m" src="/plugins/eee/mobile-department-header.png"></a></div>
               <div id="mobile-menu"><a href="http://www.uta.edu/ee/#_top" onclick="toggle(&#39;navcontainer&#39;);" onkeypress="toggle(&#39;navcontainer&#39;);"><img alt="Menu" src="/plugins/eee/menu.png"></a></div>
            </div>
            <img alt="Department of Electrical Engineering at The University of Texas at Arlington" class="print-only" src="/plugins/eee/print-header.png">
         </header>
         <div id="top-line"></div>
         <div id="content-wrapper">
            <nav id="navcontainer">
               <ul id="nav">
                  <li><a href="http://www.uta.edu/ee/index.php">Home</a></li>
                  <li><a href="http://www.uta.edu/ee/news-events/index.php">Gallery</a></li>
                  <li><a href="http://www.uta.edu/ee/news-events/index.php">News &amp; Articles</a></li>
                  <li><a href="http://www.uta.edu/ee/research-groups-labs.php">Research Areas &amp; Lab</a></li>
                  <li><a href="http://www.uta.edu/ee/staff-directory.php">Projects</a></li>
                  <li><a href="http://www.uta.edu/ee/scholarships-financial-aid.php">Published Works</a></li>
                  <li><a href="http://www.uta.edu/ee/current-students/index.php">Current Students</a></li>
                  <li><a href="http://www.uta.edu/ee/current-students/index.php">Alumni</a></li>
               </ul>
               <div id="ext_searchPromptBtn" style="top: 547px; left: 10px; z-index: auto;" textsel="adavis@uta.edu"></div>
            </nav>
            <div id="content-area">
               <section id="front-main" style="width:100% !important">
                  <div id="content-wides">
                     <section>
                        <article>
                           <h1>Conference	Publications </h1>
                           <br>
                           <ol>
                              <li>  V. Shenoy, S. Jung, K. Ryoo, and H. Kim, “A 24 GHz Low Noise Amplifier for Short Range UWB Automotive Radar,” IEEE Texas Symposium on Wireless &amp; Microwave Circuits &amp; System, April, 2013.</li>
                              <br>
                              <li> S. Raavi, B. Arigong, R. Zhou, S. Jung, M. Jin, H. Zhang, and H. Kim, “An Optical Wireless Power Transfer System for Rapid Charging,” IEEE Texas Symposium on Wireless &amp; Microwave Circuits &amp; System, April, 2013.</li>
                              <br>
                              <li> H. Kim and S. Jung, “Dual-Band Class-E RF PA Design utilizing Complex Impedance Transformers,” IEEE Texas Symposium on Wireless &amp; Microwave Circuits &amp; System, April, 2013.</li>
                              <br>
                              <li> J. LI, S. Jung, Y. Joo, and P. Gui, “A Current-Steering DAC-Based CMOS Ultra-Wideband Transmitter with Bi-Phase Modulation,” IEEE ISCAS, pp. 2545-2548, May, 2012.</li>
                              <br>
                              <li> S. Koppa, D. Park, Y. Joo, and S. Jung, “A 105.6dB DR and 65dB Peak SNR Self-Reset CMOS Image Sensor Using a Schmitt Trigger Circuit,” IEEE MWSCAS, pp. 1-4, August, 2011.</li>
                              <br>
                              <li> V. Shenoy, D. McBride, and S. Jung, “A High Fill-Factor High-SNR CMOS Image Sensor for IR Camera Applications,” Proc. of SPIE, vol. 8012, 80120J, April, 2011.</li>
                              <br>
                              <li> J. Li, S. Jung, M. Lu, and K. Min, “A CMOS Ultra-Wideband Transmitter with Bi-Phase Modulation for 22-29 GHz Vehicular Radar Application,” IEEE MWSCAS, pp. 449-452, August, 2010.</li>
                              <br>
                              <li> N. Karandikar, S. Jung, P. Gui, and Y. Joo, “Design of an Analog Correlator for 22-29GHz UWB Vehicular Radar System Using Improved High Gain Multiplier Architecture,” IEEE MWSCAS, pp. 930-933, August, 2010.</li>
                              <br>
                              <li> H. Kim, Y. Joo, and S. Jung, “Analytical Model of Pulse Combined UWB Pulse Generator,” IEEE International Symposium on Communication and Information Technology, pp. 1413-1418, September, 2009.</li>
                              <br>
                              <li> J. Li, S. Jung, M. Lu, P. Gui, and Y. Joo, “A Current-Steering DAC-Based CMOS Ultra-Wideband Impulse Generator,” IEEE International Symposium on Communication and Information Technology, pp. 971-975, September, 2009.</li>
                              <br>
                              <li> H. Kim, Y. Joo, and S. Jung, “A Tunable Pulse Generator for Sub-GHz UWB Systems,” IEEE MWSCAS, pp. 292-296, August, 2009.</li>
                              <br>
                              <li> P. Zhu, W. Chen, D. Wu, P. Gui, S. Jung, “A TID Tolerant, Wide Band and Low Jitter Phase-Locked Loop in 0.25um CMOS Silicon-on-Sapphire Technology”, IEEE Nuclear and Space Radiation Effects (NSREC), presented, July, 2009.</li>
                              <br>
                              <li> J. Li, M. Lu, S. Jung and K. Min, “A CMOS Ultra-Wideband Impulse Generator for 22-29 GHz Automotive Radar Applications,” IEEE Radar Conference, pp. 1-4, May, 2009.</li>
                              <br>
                              <li>S. Sha, V. Shenoy, M. Lu, S. Jung, K. Min, and S. Lee, “A hardware architecture for time reversal of short impulses based on frequency domain approach,” Proc. of SPIE, Vol. 7308, pp. 73080T-1-73080T-9, April, 2009.</li>
                              <br>
                              <li> V. Shenoy, S. Sha, S. Jung, and M. Lu, “A Circuit Implementation for Time-Reversal of Short Impulses,” IEEE APMC, pp. 1-4, December, 2008.</li>
                              <br>
                              <li>T. Merkin, J.C. Li, S. Jung, M. Lu, J. Gao, and S. Lee, “A 100-960 MHz CMOS Ultra-Wideband Low Noise Amplifier, IEEE Midwest Symposium on Circuits and Systems, pp. 141-144, August, 2008.</li>
                              <br>
                              <li> V. Shenoy, P. Kalkura, S. Jung, M. Lu, J. Gao, and S. Lee, “A Dual Slope based Pulse Position Modulation for sub-GHz IR-UWB Systems,” IEEE Midwest Symposium on Circuits and Systems, pp. 846-849, August, 2008.</li>
                              <br>
                              <li> M. Lu, J. W. Bredow, S. Jung, and S. Tjuatja, “On the Well-Posedness of Integral Equations Associated with Cavity Green’s Functions around Resonant Frequency,” IEEE AP-S International Symposium on Antennas and Propagation, pp. 1-4, July, 2008.</li>
                              <br>
                              <li>N. Thakoor, J. Gao, and S. Jung, "Real time planar surface segmentation in disparity space," IEEE Workshop on Embedded Computer Vision, pp. 1-8, June, 2007.</li>
                              <br>
                              <li> M. Lu, J. Bredow, S. Jung, and S. Tjuatja, “Theoretical and Experimental Study of a Quasi-Planar Conical Antenna,” IEEE International Symposium on Antenna and Propagation, pp. 4777-4780, June, 2007.</li>
                              <br>
                              <div id="hidden-text-link"><img alt="more" class="moreorless" height="16" onclick="document.getElementById(&#39;extra-text&#39;).style.display=&#39;block&#39;;document.getElementById(&#39;hidden-text-link&#39;).style.display=&#39;none&#39;" onkeypress="document.getElementById(&#39;extra-text&#39;).style.display=&#39;block&#39;;document.getElementById(&#39;hidden-text-link&#39;).style.display=&#39;none&#39;" src="/plugins/eee/more-tab.png" width="49"></div>
                              <div id="extra-text">
                                 <li> M. Lu, J. Bredow, S. Jung, and S. Tjuatja, “On the Resonant Singularities Associated with the Green’s Functions of Metallic Rectangular Cavities in the Context of the Method of Moments,” IEEE International Symposium on Antenna and Propagation, pp. 2793-2796, June, 2007.</li>
                                 <br>
                                 <li> M. Lu, N.-W. Chen, J. Bredow, S. Jung, and S. Tjuatja, “Study of Photonic Crystals at Millimeter Wave Band,” IEEE International Symposium on Antenna and Propagation, pp. 177-180, June, 2007.</li>
                                 <br>
                                 <li> V. Shenoy, H. Shanmugasundaram, S. Jung, J. Gao, and Y. Joo, “CMOS Optical Transimpedance Amplifier Design for PAM Application,” IASTED, pp. 70-73, Nov., 2006.</li>
                                 <br>
                                 <li> T. Merkin, S. Jung, J. Gao, and Y. Joo, “A CMOS Ultra-Wideband Differential Low Noise Amplifier,” IEEE APMC, pp. 417-420, Dec., 2006.</li>
                                 <br>
                                 <li> N. Thakoor, J. Gao, and S. Jung, "Detecting occlusion for hidden Markov modeled shapes," Proc. IEEE International Conference on Image Processing, pp. 945-948, Oct, 2006.</li>
                                 <br>
                                 <li> H. Kim, Y. Joo, and S. Jung, “A Tunable CMOS UWB Pulse Generator,” IEEE Conference on Ultra Wideband, pp.109-112, September, 2006.</li>
                                 <br>
                                 <li> T. Merkin, S. Jung, S. Tjuatja, Y. Joo, D. Park, and J-B Lee, “An Ultra-Wideband Low Noise Amplifier with Air-suspended RF MEMS Inductors,” IEEE Conference on Ultra Wideband, pp. 459-464, September, 2006.</li>
                                 <br>
                                 <li> S-C. Chang, S. Jung, S. Tjuatja, J. Gao, and Y. Joo, “A CMOS 5th Derivative Impulse Generator for an IR-UWB Transmitter,” IEEE MWSCAS, vol. 2, pp. 376-380, August, 2006.</li>
                                 <br>
                                 <li> N. Thakoor, J. Gao, and S. Jung, "Occlusion resistant shape classifier based on warped optimal path matching," Proceedings of IEEE International Conference on Pattern Recognition, pp. 60-63, August. 20-24, 2006.</li>
                                 <br>
                                 <li>D. Maxwell, S. Jung, Y. Joo, J. Gao, and H. Doh, “A Two-Stage Cascode CMOS LNA for UWB Wireless Systems”, IEEE Midwest Symposium on Circuits and Systems, pp. 627-630, August, 2005.</li>
                                 <br>
                                 <li> H. Kim, S. Jung, and Y. Joo, “Digitally Controllable Bi-Phase CMOS UWB Pulse Generator,” IEEE International Conference on Ultra-Wideband, pp. 442-445, September, 2005.</li>
                                 <br>
                                 <li> N. Thakoor, J. Gao, S. Jung, “Generalized Probabilistic Decent Method based Minimum Error Shape Classification using Hidden Markov Models,” IEEE ICME, pp. 342-345, July, 2005.</li>
                                 <br>
                                 <li> J. Gao, N. Thakoor, and S. Jung, “A Motion Field Reconstruction Scheme for Smooth Boundary Video Object Segmentation,” IEEE International conference on image processing (ICIP), Vol. 1, pp. 381-384, Oct., 2004.</li>
                                 <br>
                                 <li> H. Liu, X. Lin, Y. Kim, J. Liu, and S. Jung, “Electronic Dispersion compensation for 10 Gbps Data Transmission over Multi-mode Fibers,” IEEE Dallas CAS Workshop, pp. 159-162, September, 2004.</li>
                                 <br>
                                 <li> S. Jung, J. Gao, and J. Liu, "CMOS Multi-level Signal Transmitter for Optical Communication," IEEE Midwest Symposium on Circuits and Systems 2004, pp. II-185 – II-188, July 2004.</li>
                                 <br>
                                 <li>Y. Jeong, H. Doh, S. Jung, D. Park, and J. Lee, "CMOS VCO &amp; LNA Implemented by Air-Suspended On-Chip RF MEMS LC," IEEE Midwest Symposium on Circuits and Systems, pp. I-373 – I-376, July, 2004.</li>
                                 <br>
                                 <li>H. Doh, Y. Jeong, S. Jung, and Y. Joo, "Design of CMOS UWB Low Noise Amplifier with CMOS Feedback," IEEE Midwest Symposium on Circuits and Systems 2004, pp. II-641 – II-644, July, 2004.</li>
                                 <br>
                                 <li>S. Nazar, B. A. Shirazi, and S. Jung, “Performance/Energy efficiency analysis of register files in superscalar processors”, The International Conference on VLSI, pp. 325 – 331, June, 2004.</li>
                                 <br>
                                 <li> S. Vishwakarma, S. Jung, Y. Joo, “Ultra Wideband CMOS Low Noise Amplifier with Active Input Matching,” IEEE Conference on Ultra Wideband Systems and Technologies, pp 415 – 419, May, 2004.</li>
                                 <br>
                                 <li>Y. Jeong, J. Liu and S. Jung, “A CMOS Impulse Generator for UWB Wireless Communication System,” Proceedings of 2004 IEEE International Symposium on Circuit and Systems, pp. IV-129 – IV-132, May, 2004.</li>
                                 <br>
                                 <li> D.L. Geddis, S.R. Hyun, J. Chang, S. Jung, M.A. Brooke, N.M. Jokerst, “Single fiber Bi-directional links using 3D stacked thin film emitters and detectors integrated onto CMOS transceiver circuits”, IEEE Conference on Lasers and Electro-Optics, Vol. 2, pp. 270-271, May, 2004.</li>
                                 <br>
                                 <li>G. Zhang, J. Liu, and S. Jung, “An accurate current source with on-chip self-calibration circuits for low-voltage differential transmitter drivers”, IEEE ISCAS, Vol. 2, pp. II-192 -II-195, May, 2003.</li>
                                 <br>
                                 <li> S. Jung, M. A. Brooke, and N. M. Jokerst, “Packaging Considerations for a 1 Gbps Si CMOS Optical Driver,” IEEE LEOS Annual Meeting, November, 2000.</li>
                                 <br>
                                 <li>N.M. Jokerst, M.A. Brooke, J. Laskar, D.S. Wills, A.S. Brown, O. Vendier, S. Bond, M. Vrazel, R. Huang, M. Thomas, H. Kuo, S. Cho, S. Jung, Y.J. Joo, J.J. Chang, “Smart photonic links: Optoelectronics devices integrated with circuits and interconnection substrates, ” Digest of the Optical Society of America Annual Meeting, pp. 94, October, 2000.</li>
                                 <br>
                                 <li> N.M. Jokerst, M.A. Brooke, J. Laskar, D.S. Wills, A.S. Brown, O. Vendier, S. Bond, J. Cross, M. Vrazel, M. Thomas, M. Lee, S. Jung, Y.J. Joo, J.J. Chang, “Smart photonics: Optoelectronics integrated with Si CMOS VLSI circuits, ” Proceedings of the SPIE Special Symposium on the Future of Computing, Vol. 4109, pp. 241-251, July, 2000.</li>
                                 <br>
                                 <li> J. Chang, S. Jung, M. Vrazel, K. Jung, M. Lee, M. A. Brooke, N. M. Jokerst, and S. Wills, “Mixed Signal Hybrid OEICs: An InP I-MSM Integrated Onto a Mixed Signal CMOS Analog Optical Receiver with a Digital CMOS Microprocessor,” Proceedings of the Optics in Computing Conference, May, 2000.</li>
                                 <br>
                                 <li> J. Chang, S. Jung, M. Vrazel, K. Jung, M. A. Brooke, and N. M. Jokerst, “Hybrid Optically Interconnected Microprocessor: An InP I-MSM Integrated Onto a Mixed Signal CMOS Analog Optical Receiver with a Digital CMOS Microprocessor,” Proceedings of the SPIE, Vol. 4089, pp. 708-714, 2000.</li>
                                 <br>
                                 <li> N.M. Jokerst, M.A. Brooke, J. Laskar, D.S. Wills, A.S. Brown, O. Vendier, S. Bond, J. Cross, M. Vrazel, M. Thomas, M. Lee, S. Jung, Y.J. Joo, J.J. Chang, “Smart photonics: Optoelectronics integrated onto Si CMOS circuits, ” IEEE Lasers and Electro-Optics Society 12th Annual Meeting, Vol. 2, pp. 423-424, November, 1999.</li>
                                 <br>
                                 <li> J. Chang, M. Lee, S. Jung, M. Brooke, N. Jokerst, and D. Wills, “Fully Differential Current-Input CMOS Amplifier Front-End Suppressing Mixed Signal Substrate Noise for Optoelectronic Applications,” International Symposium on Circuits and Systems, vol. 1, p. 327-330, June, 1999.</li>
                                 <br>
                                 <li>S. W. Bond, S. Jung, O. Vendier, A. Lopez-Lagunas, S. Chai, G.a Dagnall, M. Brooke, N. Jokerst, D. Wills, and A. Brown, “3D Stacked Si CMOS VLSI Smart Pixels using Through-Si Optoelectronic Interconnections,” Technical Digest IEEE LEOS Summer topical meeting, pp. 27-28, July, 1998.</li>
                                 <br>
                                 <div id="unhidden-text-link"><img alt="hide" class="moreorless" height="16" onclick="document.getElementById(&#39;extra-text&#39;).style.display=&#39;none&#39;;document.getElementById(&#39;hidden-text-link&#39;).style.display=&#39;block&#39;" onkeypress="document.getElementById(&#39;extra-text&#39;).style.display=&#39;none&#39;;document.getElementById(&#39;hidden-text-link&#39;).style.display=&#39;block&#39;" src="/plugins/eee/less-tab.png" width="49"></div>
                              </div>
                           </ol>
                        </article>
                     </section>
                  </div>
               </section>
            </div>
            <footer>
               <img alt="The University of Texas at Arlington" height="73" src="/plugins/eee/uta_sm_logo.png" width="82">
               <p><strong>© 2019 Department and Center Information</strong> <span class="print-only">[<a href="http://www.uta.edu/ee">www.uta.edu/ee</a>]</span><br>
                  ISCS Design Lab, Engineering Laboratory Building 501 W. First St. #204 B Arlington, TX 76019<br>
                  Phone/Fax: 817-272-1210<br>
                  Email: jung@uta.edu<br>
                  <a href="http://www.uta.edu/"> ©
                  2019  The University of Texas at Arlington</a>.
               </p>
            </footer>
         </div>
      </div>
   </body>
</html>