<!DOCTYPE html>

<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta content="IE=10" http-equiv="X-UA-Compatible">
      <title>Integrated Sensing Circuits and Systems Laboratory</title>
      <meta content="Information of current and future students in the electrical engineering dapartment at The University of Texas at Arlington" name="description">
      <meta content="electrical, engineering, university, texas, arlington, department" name="keywords">
      <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
      <link href="/plugins/eee/screen.css" media="screen" rel="stylesheet">
      <link href="/plugins/eee/print.css" media="print" rel="stylesheet">
      <script async="" src="/plugins/eee/analytics.js.download"></script><script src="/plugins/eee/menu.js.download"></script>
      <link href="/plugins/eee/embbed.css" media="screen" rel="stylesheet">
      <link href="/plugins/eee/embedded.css" media="screen" rel="stylesheet">
      <script src="/plugins/eee/jquery-1.8.3.min.js.download" type="text/javascript"></script>
      <script src="/plugins/eee/jquery.cycle2.min.js.download"></script>
   </head>
   <body>
      <p class="skip"><a accesskey="C" href="http://www.uta.edu/ee/#content-area">Skip to content</a>. <a accesskey="N" href="http://www.uta.edu/ee/#nav">Skip to main navigation</a>.</p>
      <div id="wrapper">
         <header id="page-header">
            <a href="http://www.uta.edu/uta/index.php"><img alt="The University of Texas at Arlington" height="48" id="UTA-logo" src="/plugins/eee/uta.png" width="327"></a>
            <a href="http://www.uta.edu/engineering/index.php"><img alt="College of Engineering" height="48" id="COE-logo" src="/plugins/eee/college_of_engineering.png" width="311"></a>
            <div id="desktop-header" style="text-align: -webkit-center;">
               </img>
               <!-- <img alt="Bioengineering at UTA" height="73" id="department-icon" src="/plugins/eee/department_icon.png" width="100"> -->
               <a href="http://www.uta.edu/ee/index.php"><img alt="Department of Electrical Engineering" height="73" id="logo" src="/plugins/eee/stripp.jpg" width="678"></a>
            </div>
            <div id="mobile-header">
               <!-- It is important that some images have no size attributes for rendering on different screen sizes -->
               <div id="mobile-uta-logo"><a href="http://www.uta.edu/uta/index.php"><img alt="The University of Texas at Arlington" class="UTA-logo-m" src="/plugins/eee/mobile-header.png"></a><br><a href="http://www.uta.edu/ee/index.php"><img alt="Department of Bioengineering" class="UTA-logo-m" src="/plugins/eee/mobile-department-header.png"></a></div>
               <div id="mobile-menu"><a href="http://www.uta.edu/ee/#_top" onclick="toggle(&#39;navcontainer&#39;);" onkeypress="toggle(&#39;navcontainer&#39;);"><img alt="Menu" src="/plugins/eee/menu.png"></a></div>
            </div>
            <img alt="Department of Electrical Engineering at The University of Texas at Arlington" class="print-only" src="/plugins/eee/print-header.png">
         </header>
         <div id="top-line"></div>
         <div id="content-wrapper">
            <nav id="navcontainer">
               <ul id="nav">
                  <li><a href="http://www.uta.edu/ee/index.php">Home</a></li>
                  <li><a href="http://www.uta.edu/ee/news-events/index.php">Gallery</a></li>
                  <li><a href="http://www.uta.edu/ee/news-events/index.php">News &amp; Articles</a></li>
                  <li><a href="http://www.uta.edu/ee/research-groups-labs.php">Research Areas &amp; Lab</a></li>
                  <li><a href="http://www.uta.edu/ee/staff-directory.php">Projects</a></li>
                  <li><a href="http://www.uta.edu/ee/scholarships-financial-aid.php">Published Works</a></li>
                  <li><a href="http://www.uta.edu/ee/current-students/index.php">Current Students</a></li>
                  <li><a href="http://www.uta.edu/ee/current-students/index.php">Alumni</a></li>
               </ul>
               <div id="ext_searchPromptBtn" style="top: 547px; left: 10px; z-index: auto;" textsel="adavis@uta.edu"></div>
            </nav>
            <div id="content-area">
               <section id="front-main" style="width:100% !important">
                  <div id="content-wide">
                     <section>
                        <article>
                           <header>
                              <h1>Contact Us</h1>
                              <p>&nbsp;</p>
                           </header>
                           <ul>
                              <figure>
                                 <li>
                                    <h2><strong>Current members</strong></h2>
                                    <br>
                                 </li>
                              </figure>
                              <figure>
                                 <figcaption>
                                    <table width="628" height="451" border="1" class="auto-style2">
                                       <tbody>
                                          <tr>
                                             <th width="175" scope="row" style="height: 12px">
                                                <p><strong>Dr. Sungyong Jung</strong></p>
                                             </th>
                                             <td width="165" style="height: 12px">
                                                <a href="mailto:jung@uta.edu">jung@uta.edu</a>
                                             </td>
                                             <td width="165" style="height: 12px">
                                                <p><a href="http://www.uta.edu/faculty/jung/">Faculty Website</a></p>
                                             </td>
                                          </tr>
                                          <tr>
                                             <th width="175" scope="row" style="height: 45px"><strong>Manu Chilukuri, 
                                                Ph.D.</strong>
                                             </th>
                                             <td width="165" style="height: 45px" class="auto-style4">
                                                <a href="mailto:manu.chilukuri@mavs.uta.edu">manu.chilukuri@mavs.uta.edu</a>
                                             </td>
                                             <td width="165" style="height: 45px">
                                                Resume
                                             </td>
                                          </tr>
                                          <tr>
                                             <th scope="row" style="height: 53px"><strong>
                                                Uthra Mahendran, Ph.D.</strong>
                                             </th>
                                             <td style="height: 53px">
                                                <a href="mailto:uthra.mahendran@mavs.uta.edu">
                                                uthra.mahendran@mavs.uta.edu</a>
                                             </td>
                                             <td style="height: 53px" class="underline">Resume</td>
                                          </tr>
                                          <tr>
                                             <th scope="row" style="height: 40px"><strong>
                                                Hyusim Park, Ph.D.</strong>
                                             </th>
                                             <td style="height: 40px">
                                                <a href="mailto:hyusim.park@mavs.uta.edu">
                                                hyusim.park@mavs.uta.edu</a>
                                             </td>
                                             <td style="height: 40px" class="underline">Resume</td>
                                          </tr>
                                          <tr>
                                             <th scope="row" style="height: 52px"><strong>Roopsagar 
                                                Palla, M.S</strong>
                                             </th>
                                             <td style="height: 52px">
                                                <a href="mailto:roopsagar.palla@mavs.uta.edu">
                                                roopsagar.palla@mavs.uta.edu</a>
                                             </td>
                                             <td style="height: 52px" class="underline">
                                                Resume
                                             </td>
                                          </tr>
                                          <tr>
                                             <th scope="row" style="height: 11px"><strong>Revathy 
                                                Perumalsamy, M.S.</strong>
                                             </th>
                                             <td valign="middle" style="height: 11px">
                                                <a href="mailto:revathy.perumalsamy@mavs.uta.edu">revathy.perumalsamy@mavs.uta.edu</a>
                                             </td>
                                             <td valign="middle" style="height: 11px">
                                                <p class="auto-style3">
                                                   Resume
                                                </p>
                                             </td>
                                          </tr>
                                          <tr>
                                             <th scope="row" style="height: 11px"><strong>Bishrut Subedi, B.S.</strong></th>
                                             <td style="height: 17px">
                                                <a href="mailto:bishrut.subedi@mavs.uta.edu">bishrut.subedi@mavs.uta.edu</a>
                                             </td>
                                             <td valign="middle" style="height: 11px">
                                                <p class="auto-style3">
                                                   Resume
                                                </p>
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </figcaption>
                              </figure>
                              <h4>&nbsp;</h4>
                              <li>
                                 <h2><strong>Alumini</strong></h2>
                                 <br>
                              </li>
                              <table width="628" border="1">
                                 <tbody>
                                    <tr>
                                       <th width="206" scope="row">Niranjan  Karandikar</th>
                                       <td style="width: 406px">“A  Low-Noise, Low-Power CMOS Amperometric Circuit for Glucose Sensing,” Ph.D.,  December, 2013</td>
                                       <td style="width: 127px">Intel</td>
                                    </tr>
                                    <tr>
                                       <th scope="row">Sunil  Govardhan</th>
                                       <td style="width: 406px">“A  CMOS Switched Capacitor Based Amperometric Readout Circuit for Microneedle  Glucose Sensor,” M.S., December, 2013.</td>
                                       <td style="width: 127px">Freescale</td>
                                    </tr>
                                    <tr>
                                       <th scope="row">Sujith  Dermal</th>
                                       <td style="width: 406px">“A CMOS  Conductometric Circuit for Chemical Sensing using Nanowire Sensor Arrays,”  M.S., August, 2013.</td>
                                       <td style="width: 127px">Freescale</td>
                                    </tr>
                                    <tr>
                                       <th scope="row" style="height: 51px">Varun  Shenoy</th>
                                       <td style="width: 406px; height: 51px">A CMOS  Analog Correlator based Amperometric Circuit for Glucose Sensing,” Ph.D., May,  2013.</td>
                                       <td style="height: 51px; width: 127px">ON Semiconductor</td>
                                    </tr>
                                    <tr>
                                       <th scope="row">David  Maxwell</th>
                                       <td style="width: 406px">“Comparative  Analysis of Lithium-Chemistry Battery Fuel Gauge Algorithms on Aged Cells,”  M.S., December, 2011.</td>
                                       <td style="width: 127px">Texas Instruments</td>
                                    </tr>
                                    <tr>
                                       <th scope="row">Ju-Ching  Li</th>
                                       <td style="width: 406px">“The  Design of CMOS Impulse Generators for Ultra-Wideband Communication and Radar  Systems,” Ph.D., August, 2011.</td>
                                       <td style="width: 127px">AMD</td>
                                    </tr>
                                    <tr>
                                       <th scope="row">Daniel  McBride</th>
                                       <td style="width: 406px">“A High Fill Factor  CMOS Image Sensor for IR Camera Applications,” M.S., August, 2010. </td>
                                       <td style="width: 127px">Texas A&amp;M PhD Program</td>
                                    </tr>
                                    <tr>
                                       <th scope="row">Partha  Ghosh</th>
                                       <td style="width: 406px">"Design and  Study of Phase Locked Loop for Space Applications in Sub-Micron CMOS Technology,"  Ph.D., May 2009.</td>
                                       <td style="width: 127px"><span lang="ko">Broadcom</span></td>
                                    </tr>
                                    <tr>
                                       <th scope="row">Ritesh  Mehta</th>
                                       <td style="width: 406px">“Balance MCML  Circuit Design for Suppressing Delta-I Noise,” M.S., December, 2007.</td>
                                       <td style="width: 127px">Broadcom</td>
                                    </tr>
                                    <tr>
                                       <th scope="row">Prasanna  Kalkura</th>
                                       <td style="width: 406px">“Pulse  Position Modulation Circuits for Impulse Radio Ultra Wideband Systems,” M.S.,  December, 2007.</td>
                                       <td style="width: 127px">Apple</td>
                                    </tr>
                                    <tr>
                                       <th scope="row">Shin-Chih  Chang</th>
                                       <td style="width: 406px">“CMOS  5th Derivative Gaussian Impulse Generator for UWB Application,” M.S.,  December, 2005.</td>
                                       <td style="width: 127px">----</td>
                                    </tr>
                                    <tr>
                                       <th scope="row">Timothy  Merkin</th>
                                       <td style="width: 406px">“A  CMOS Ultra-Wideband Differential Low Noise Amplifier,” M.S., December, 2005.</td>
                                       <td style="width: 127px">Texas Instruments</td>
                                    </tr>
                                    <tr>
                                       <th scope="row">Hemalatha  Shanmugasundaram</th>
                                       <td style="width: 406px">“CMOS  Optical transimpedance amplifier design for the PAM signaling,” M.S., August,  2005.</td>
                                       <td style="width: 127px">Intel</td>
                                    </tr>
                                    <tr>
                                       <th scope="row">Tamim B. Al-sawaf</th>
                                       <td style="width: 406px">“Analysis and Comparison between Impulse and Multiband Ultrawide  Bandwidth Communication Systems,” M.S., August 2004.</td>
                                       <td style="width: 127px">Schlumberger</td>
                                    </tr>
                                    <tr>
                                       <th scope="row">Shahzad  Nazar</th>
                                       <td style="width: 406px">"Performance/Energy Efficiency Analysis of Register Files in Superscalar  Processors," M.S., December 2003.</td>
                                       <td style="width: 127px"><span lang="ko">Apple</span></td>
                                    </tr>
                                    <tr>
                                       <th scope="row">YoungKyun  Jeong</th>
                                       <td style="width: 406px">“A  frequency adjustable CMOS pulse generator and impulse shaping circuit for the  UWB wireless communication systems,” M.S., May, 2003.</td>
                                       <td style="width: 127px">Samsung</td>
                                    </tr>
                                    <tr>
                                       <th scope="row">Shaoshu Sha</th>
                                       <td style="width: 406px"><span>Wireless Power 
                                          Transmission Based on Retro-Reflective Antenna Array, 
                                          Ph.D., December, 2013</span>
                                       </td>
                                       <td style="width: 127px">Motorola</td>
                                    </tr>
                                 </tbody>
                              </table>
                              <p>&nbsp;</p>
                              <p>&nbsp;</p>
                           </ul>
                        </article>
                     </section>
                  </div>
               </section>
            </div>
            <footer>
               <img alt="The University of Texas at Arlington" height="73" src="/plugins/eee/uta_sm_logo.png" width="82">
               <p><strong>© 2019 Department and Center Information</strong> <span class="print-only">[<a href="http://www.uta.edu/ee">www.uta.edu/ee</a>]</span><br>
                  ISCS Design Lab, Engineering Laboratory Building 501 W. First St. #204 B Arlington, TX 76019<br>
                  Phone/Fax: 817-272-1210<br>
                  Email: jung@uta.edu<br>
                  <a href="http://www.uta.edu/"> ©
                  2019  The University of Texas at Arlington</a>.
               </p>
            </footer>
         </div>
      </div>
   </body>
</html>