<!DOCTYPE html>

<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta content="IE=10" http-equiv="X-UA-Compatible">
      <title>Integrated Sensing Circuits and Systems Laboratory</title>
      <meta content="Information of current and future students in the electrical engineering dapartment at The University of Texas at Arlington" name="description">
      <meta content="electrical, engineering, university, texas, arlington, department" name="keywords">
      <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
      <link href="/plugins/eee/screen.css" media="screen" rel="stylesheet">
      <link href="/plugins/eee/print.css" media="print" rel="stylesheet">
      <script async="" src="/plugins/eee/analytics.js.download"></script><script src="/plugins/eee/menu.js.download"></script>
      <link href="/plugins/eee/embbed.css" media="screen" rel="stylesheet">
      <link href="/plugins/eee/embedded.css" media="screen" rel="stylesheet">
      <script src="/plugins/eee/jquery-1.8.3.min.js.download" type="text/javascript"></script>
      <script src="/plugins/eee/jquery.cycle2.min.js.download"></script>
   </head>
   <body>
      <p class="skip"><a accesskey="C" href="http://www.uta.edu/ee/#content-area">Skip to content</a>. <a accesskey="N" href="http://www.uta.edu/ee/#nav">Skip to main navigation</a>.</p>
      <div id="wrapper">
         <header id="page-header">
            <a href="http://www.uta.edu/uta/index.php"><img alt="The University of Texas at Arlington" height="48" id="UTA-logo" src="/plugins/eee/uta.png" width="327"></a>
            <a href="http://www.uta.edu/engineering/index.php"><img alt="College of Engineering" height="48" id="COE-logo" src="/plugins/eee/college_of_engineering.png" width="311"></a>
            <div id="desktop-header" style="text-align: -webkit-center;">
               </img>
               <!-- <img alt="Bioengineering at UTA" height="73" id="department-icon" src="/plugins/eee/department_icon.png" width="100"> -->
               <a href="http://www.uta.edu/ee/index.php"><img alt="Department of Electrical Engineering" height="73" id="logo" src="/plugins/eee/stripp.jpg" width="678"></a>
            </div>
            <div id="mobile-header">
               <!-- It is important that some images have no size attributes for rendering on different screen sizes -->
               <div id="mobile-uta-logo"><a href="http://www.uta.edu/uta/index.php"><img alt="The University of Texas at Arlington" class="UTA-logo-m" src="/plugins/eee/mobile-header.png"></a><br><a href="http://www.uta.edu/ee/index.php"><img alt="Department of Bioengineering" class="UTA-logo-m" src="/plugins/eee/mobile-department-header.png"></a></div>
               <div id="mobile-menu"><a href="http://www.uta.edu/ee/#_top" onclick="toggle(&#39;navcontainer&#39;);" onkeypress="toggle(&#39;navcontainer&#39;);"><img alt="Menu" src="/plugins/eee/menu.png"></a></div>
            </div>
            <img alt="Department of Electrical Engineering at The University of Texas at Arlington" class="print-only" src="/plugins/eee/print-header.png">
         </header>
         <div id="top-line"></div>
         <div id="content-wrapper">
            <nav id="navcontainer">
               <ul id="nav">
                  <li><a href="http://www.uta.edu/ee/index.php">Home</a></li>
                  <li><a href="http://www.uta.edu/ee/news-events/index.php">Gallery</a></li>
                  <li><a href="http://www.uta.edu/ee/news-events/index.php">News &amp; Articles</a></li>
                  <li><a href="http://www.uta.edu/ee/research-groups-labs.php">Research Areas &amp; Lab</a></li>
                  <li><a href="http://www.uta.edu/ee/staff-directory.php">Projects</a></li>
                  <li><a href="http://www.uta.edu/ee/scholarships-financial-aid.php">Published Works</a></li>
                  <li><a href="http://www.uta.edu/ee/current-students/index.php">Current Students</a></li>
                  <li><a href="http://www.uta.edu/ee/current-students/index.php">Alumni</a></li>
               </ul>
               <div id="ext_searchPromptBtn" style="top: 547px; left: 10px; z-index: auto;" textsel="adavis@uta.edu"></div>
            </nav>
            <div id="content-area">
               <section id="front-main" style="width:100% !important">
                  <div id="wrapper">
                     <div id="page-content">
                        <div id="content-wides">
                           <section>
                              <article>
                                 <h2 style="font-variant: normal; line-height: normal; orphans: auto; text-align: start; text-indent: 0px; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px;">
                                    Hearing Aid Device
                                 </h2>
                                 <p style="color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px;">
                                    <span style="color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px; display: inline !important; float: none;">
                                    The National Institute on Deafness and Other Communication 
                                    Disorders - part of the National Institutes of Health - reports 
                                    that one in eight people in the United States aged 12 years or 
                                    older has hearing loss in both ears, based on standard hearing 
                                    examinations. Despite this, the World Health Organization states 
                                    that current production of hearing aids meets less than 10 
                                    percent of global need and that about 5 percent of the world's 
                                    population - 360 million people - have disabling hearing loss. 
                                    Thus, it has been important to develop acoustic medical devices 
                                    regardless of countries. The purpose of this research is to 
                                    develop a low power hearing aid integrated circuit (IC) 
                                    containing a pre-amplifier, an analog-to-digital converter 
                                    (ADC), a modulator, and an audio amplifier.</span>
                                 </p>
                                 <h2 style="font-variant: normal; line-height: normal; orphans: auto; text-align: start; text-indent: 0px; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px;">
                                    Environmental Sensing Systems and Circuits
                                 </h2>
                                 <p style="color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px;">
                                    To measure the water quality in the nature source, a submerged 
                                    array of sensors are created to provide real-time, large area 
                                    identification. The sensors monitor for months with a battery, 
                                    communicating with the base station via wireless transceiver, 
                                    eliminating the need to retrieve the sensor frequently and 
                                    saving a lot of money and human resource.
                                 </p>
                                 <p style="color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px;">
                                    The purpose of readout circuit is to amplifier the current 
                                    signal from PIN photo-detector, then get the information of 
                                    chemical species on the sensor. Thus, a sensor readout circuit 
                                    including trans-impedance amplifier(TIA) and ADC are required to 
                                    design. To obtain a precise result, we aim to develop the 
                                    readout circuit with low noise and low power consumption.
                                 </p>
                                 <p class="auto-style3" style="orphans: auto; widows: auto; -webkit-text-stroke-width: 0px;">
                                    &nbsp;
                                 </p>
                                 <header>
                                    <h2>Electrochemical Sensor Systems for bio and chemical 
                                       detection
                                    </h2>
                                 </header>
                                 <p class="MsoNormal">
                                    <span style="color: rgb(0, 0, 0); font-family: 'Times New Roman'; font-size: medium; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; display: inline !important; float: none;">
                                    As sensor technology has been developed, electrochemical sensors 
                                    lead a trend of smart sensing systems, which allows 
                                    Point-of-Care-Testing. This evolution in the health care area has 
                                    set a task for researchers to develop new architectures with low 
                                    power consumption and compactness for the measurement system, as 
                                    well as achieving accuracy, sensitivity, range and stability. In 
                                    order to achieve these requirements, AMIC Lab has developed 
                                    electrochemical sensor readout circuit systems for chemical 
                                    detection and bio application such as glucose monitoring and gas 
                                    sensing.</span>
                                 </p>
                                 <p class="MsoNormal">
                                    <o:p></o:p>
                                 </p>
                                 <br>
                              </article>
                           </section>
                        </div>
                     </div>
                  </div>
               </section>
            </div>
            <footer>
               <img alt="The University of Texas at Arlington" height="73" src="/plugins/eee/uta_sm_logo.png" width="82">
               <p><strong>© 2019 Department and Center Information</strong> <span class="print-only">[<a href="http://www.uta.edu/ee">www.uta.edu/ee</a>]</span><br>
                  ISCS Design Lab, Engineering Laboratory Building 501 W. First St. #204 B Arlington, TX 76019<br>
                  Phone/Fax: 817-272-1210<br>
                  Email: jung@uta.edu<br>
                  <a href="http://www.uta.edu/"> ©
                  2019  The University of Texas at Arlington</a>.
               </p>
            </footer>
         </div>
      </div>
   </body>
</html>