<!DOCTYPE html>

<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta content="IE=10" http-equiv="X-UA-Compatible">
      <title>Integrated Sensing Circuits and Systems Laboratory</title>
      <meta content="Information of current and future students in the electrical engineering dapartment at The University of Texas at Arlington" name="description">
      <meta content="electrical, engineering, university, texas, arlington, department" name="keywords">
      <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
      <link href="/plugins/eee/screen.css" media="screen" rel="stylesheet">
      <link href="/plugins/eee/print.css" media="print" rel="stylesheet">
      <script async="" src="/plugins/eee/analytics.js.download"></script><script src="/plugins/eee/menu.js.download"></script>
      <link href="/plugins/eee/embbed.css" media="screen" rel="stylesheet">
      <link href="/plugins/eee/embedded.css" media="screen" rel="stylesheet">
      <script src="/plugins/eee/jquery-1.8.3.min.js.download" type="text/javascript"></script>
      <script src="/plugins/eee/jquery.cycle2.min.js.download"></script>
   </head>
   <body>
      <p class="skip"><a accesskey="C" href="http://www.uta.edu/ee/#content-area">Skip to content</a>. <a accesskey="N" href="http://www.uta.edu/ee/#nav">Skip to main navigation</a>.</p>
      <div id="wrapper">
         <header id="page-header">
            <a href="http://www.uta.edu/uta/index.php"><img alt="The University of Texas at Arlington" height="48" id="UTA-logo" src="/plugins/eee/uta.png" width="327"></a>
            <a href="http://www.uta.edu/engineering/index.php"><img alt="College of Engineering" height="48" id="COE-logo" src="/plugins/eee/college_of_engineering.png" width="311"></a>
            <div id="desktop-header" style="text-align: -webkit-center;">
               </img>
               <!-- <img alt="Bioengineering at UTA" height="73" id="department-icon" src="/plugins/eee/department_icon.png" width="100"> -->
               <a href="http://www.uta.edu/ee/index.php"><img alt="Department of Electrical Engineering" height="73" id="logo" src="/plugins/eee/stripp.jpg" width="678"></a>
            </div>
            <div id="mobile-header">
               <!-- It is important that some images have no size attributes for rendering on different screen sizes -->
               <div id="mobile-uta-logo"><a href="http://www.uta.edu/uta/index.php"><img alt="The University of Texas at Arlington" class="UTA-logo-m" src="/plugins/eee/mobile-header.png"></a><br><a href="http://www.uta.edu/ee/index.php"><img alt="Department of Bioengineering" class="UTA-logo-m" src="/plugins/eee/mobile-department-header.png"></a></div>
               <div id="mobile-menu"><a href="http://www.uta.edu/ee/#_top" onclick="toggle(&#39;navcontainer&#39;);" onkeypress="toggle(&#39;navcontainer&#39;);"><img alt="Menu" src="/plugins/eee/menu.png"></a></div>
            </div>
            <img alt="Department of Electrical Engineering at The University of Texas at Arlington" class="print-only" src="/plugins/eee/print-header.png">
         </header>
         <div id="top-line"></div>
         <div id="content-wrapper">
            <nav id="navcontainer">
               <ul id="nav">
                  <li><a href="http://www.uta.edu/ee/index.php">Home</a></li>
                  <li><a href="http://www.uta.edu/ee/news-events/index.php">Gallery</a></li>
                  <li><a href="http://www.uta.edu/ee/news-events/index.php">News &amp; Articles</a></li>
                  <li><a href="http://www.uta.edu/ee/research-groups-labs.php">Research Areas &amp; Lab</a></li>
                  <li><a href="http://www.uta.edu/ee/staff-directory.php">Projects</a></li>
                  <li><a href="http://www.uta.edu/ee/scholarships-financial-aid.php">Published Works</a></li>
                  <li><a href="http://www.uta.edu/ee/current-students/index.php">Current Students</a></li>
                  <li><a href="http://www.uta.edu/ee/current-students/index.php">Alumni</a></li>
               </ul>
               <div id="ext_searchPromptBtn" style="top: 547px; left: 10px; z-index: auto;" textsel="adavis@uta.edu"></div>
            </nav>
            <div id="content-area">
               <section id="front-main" style="width:100% !important">
               <section id="front-news" style="width:100% !important">
                  <article>
                  <header>
                     <h1>Showcase Projects</h1>
                     <br>
                  </header>
                  <div class="news-item">
                     <div class="news-featured-left">
                        <a href="http://www.uta.edu/ee/amic/HighThroughput.html">
                        <img alt="High Throughput Optical Communication System" class="floatleft" height="88" src="/plugins/eee/project1.png" width="88">
                        </a>
                     </div>
                     <div class="news-featured-right">
                        <h3>
                           <a href="http://www.uta.edu/ee/amic/HighThroughput.html">High Throughput Optical Communication System </a>
                        </h3>
                        <p><span>Since high data rates are necessary in optical communication systems, M-ary amplitude shift keying (ASK) has been developed to improve the spectral efficiency.&nbsp;&nbsp;</span></p>
                     </div>
                  </div>
                  <div class="news-item">
                     <div class="news-featured-left">
                        <a href="http://www.uta.edu/ee/amic/LowNoise.html">
                        <img alt="Low Noise Amplifier with Air-suspended RF MEMS Inductors" class="floatleft" height="88" src="/plugins/eee/project2.png" width="88">
                        </a>
                     </div>
                     <div class="news-featured-right">
                        <h3>
                           <a href="http://www.uta.edu/ee/amic/LowNoise.html">Low Noise Amplifier with Air-suspended RF MEMS Inductors</a>
                        </h3>
                        <p><span>This work presents the development of a CMOS Ultra-wideband differential Low Noise Amplifier with air-suspended MEMS inductors substituting standard planar spiral inductors.</span></p>
                     </div>
                  </div>
                  <div class="news-item">
                     <div class="news-featured-left">
                        <a href="http://www.uta.edu/ee/amic/UltraWideband.html">
                        <img alt="Ultra-Wideband Wireless Communication ICs" class="floatleft" height="88" src="/plugins/eee/project3.png" width="88">
                        </a>
                     </div>
                     <div class="news-featured-right">
                        <h3>
                           <a href="http://www.uta.edu/ee/amic/UltraWideband.html">Ultra-Wideband Wireless Communication ICs</a>
                        </h3>
                        <p>In current wireless communication applications, high data rate, low power, and low cost are desirable because of the surging demand for enhanced performance, battery-life, and cost efficiency of the electronic devices</p>
                     </div>
                  </div>
                  <div class="news-item">
                     <div class="news-featured-left">
                        <a href="http://www.uta.edu/ee/amic/GlucoseSensing.html">
                        <img alt="Glucose Sensing Readout Circuit" class="floatleft" height="88" src="/plugins/eee/project5.png" width="88">
                        </a>
                     </div>
                     <div class="news-featured-right">
                        <h3>
                           <a href="http://www.uta.edu/ee/amic/GlucoseSensing.html">Glucose Sensing Readout Circuit</a>
                        </h3>
                        <p>In amperometric glucose sensors, electrical current is generated as a result of chemical reaction between glucose molecules and sensor electrodes, and this current is then measured by the readout circuit.</p>
                     </div>
                  </div>
                  <div class="news-item">
                     <div class="news-featured-left">
                        <a href="http://www.uta.edu/ee/amic/BilogicalToxin.html">
                        <img alt="In Situ Sensing System for Bilogical Toxin in HABs" class="floatleft" height="88" src="/plugins/eee/project6.png" width="88">
                        </a>
                     </div>
                     <div class="news-featured-right">
                        <h3>
                           <a href="http://www.uta.edu/ee/amic/BilogicalToxin.html">In Situ Sensing System for Bilogical Toxin in HABs</a>
                        </h3>
                        <p>The increasing occurrence of harmful algal blooms (HABs) in water resources worldwide is alarming the environmental and health authorities because of their potential to release lethal biological toxins, in particular, microcystins (MCs) produced from cyanobacterial HABs.</p>
                     </div>
                  </div>
                  <!--   commented fun facts section
                     <p style="clear:left"><a href="http://www.uta.edu/ee/news-events/index.php">More Department News</a></p>
                     </article>
                     </section>
                     <section id="front-sidebar">
                             <article>
                                 <header>
                                     <h2>Fast Facts</h2>
                                 </header>
                     <h3>Research Areas</h3>
                     <ul>
                     <li><a href="http://www.uta.edu/ee/amic/Sensors.html">Electro Chemical Sensors</a></li>
                     <li><a href="http://www.uta.edu/ee/amic/PowerSystems.html">Wireless Power Transfer System</a></li>
                     <li><a href="http://www.uta.edu/ee/amic/Memri.html">Analog IC design utilizing Memristors</a></li>
                     </ul>
                     
                     <h3>Published Work</h3>
                     <ul>
                     <li><a href="http://www.uta.edu/ee/amic/JournalPublication.html">Journal Publication</a></li>
                     <li><a href="http://www.uta.edu/ee/amic/ConferencePublication.html">Conference Publication</a></li>
                     </ul>
                     
                     <h3>Contact Details</h3>
                     <ul>
                     <li><strong>Dr. Sungyong Jung</strong><br> Associate Chair<br>817-272-3934<br><a href="mailto:jung@uta.edu">jung@uta.edu</a><br></li>
                     <li><strong>ISCS Design Lab</strong><br>Engineering Laboratory Building<br>501 W. First St. #204 B<br>Arlington, TX 76019<br>Tel/Fax: 817-272-1210<br></li>
                     <li><strong>Mailing Address</strong><br>Box 19016<br>The University of Texas at Arlington<br>Department of Electrical Engineering<br>Arlington, TX 76019<br></li>
                     </ul>
                     </article>
                     </section>
                     -->
               </section>
            </div>
            <footer>
               <img alt="The University of Texas at Arlington" height="73" src="/plugins/eee/uta_sm_logo.png" width="82">
               <p><strong>© 2019 Department and Center Information</strong> <span class="print-only">[<a href="http://www.uta.edu/ee">www.uta.edu/ee</a>]</span><br>
                  ISCS Design Lab, Engineering Laboratory Building 501 W. First St. #204 B Arlington, TX 76019<br>
                  Phone/Fax: 817-272-1210<br>
                  Email: jung@uta.edu<br>
                  <a href="http://www.uta.edu/"> ©
                  2019  The University of Texas at Arlington</a>.
               </p>
            </footer>
         </div>
      </div>
   </body>
</html>